# Entorno virtual de Python
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]


# Configuraciones de cada módulo
crear_documentos/configs/configuracion_documentos.py
descargar_datos/configs/configuracion_general.py
Procesar_datos/configs/configuracion_general.py
reporte_diario/configs/configuracion_general.py

# Archivos de configuración de usuario
*.env
*.env.*

# Archivos de logs
*.log

# Archivos de datos
*.csv
*.mat
*.dat
*.pickle
*.h5
*.xlsx
*.xls
*.json
*.tsv
*.parquet
*.feather
*.sav
*.pkl
*.npz
*.npy

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

demo.docx
~*.tmp
~*.xlsx

